/* Images */
img {
  max-width: 15rem;
  object-fit: cover;
  border-radius: 0.3rem;
}

/* Table CSS style */
table {
  border-collapse: collapse;
  border: 2px 0 solid #555;
  display: block; /* Ensures it's a block container */
  text-align: center; /* Centers inline-block children */
  width: fit-content;
}

thead {
  background-color: hsl(0, 0%, 75%);
}

td {
  padding: 1rem;
  text-align: center; /* Center-aligns content in each cell */
  vertical-align: middle; /* Ensures vertical alignment */
  border: 1px solid #555; /* Adds a border to cells */
}

/* Yellow Circles */
.dot {
  height: 1.5rem;
  width: 1.5rem;
  background-color: hsl(62, 91%, 51%);
  border-radius: 50%; /* Ensures the circles stay circular */
  display: inline-block; /* Keeps them behaving properly */
  margin: 0 auto; /* Centers horizontally inside the cell */
}

.container-background-image {
  max-width: 20rem;
  height: 20rem;
  object-fit: cover;
  background-image: url("https://andreaedsonldesouza93.github.io/HTML---Study/Multimedia/images-lessons/bg-paper.jpg");

  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: no-repeat;
}

.clippy {
  clip-path: polygon(
    10% 25%,
    35% 25%,
    35% 0%,
    65% 0%,
    65% 25%,
    90% 25%,
    90% 50%,
    65% 50%,
    65% 100%,
    35% 100%,
    35% 50%,
    10% 50%
  );
}

.container-background-svg {
  height: auto;
  width: 60vw;
  border-radius: 1.5rem;
  border: 1px solid hsl(240, 100%, 19%);
  background: url(Multimedia/contour-line.svg);
}
