.bg-dishes {
  background: url("https://andreaedsonldesouza93.github.io/HTML---Study/Multimedia/CSS-Sprite-Package/css-sprite-combined.png") 0px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-landing {
  background: url("https://andreaedsonldesouza93.github.io/HTML---Study/Multimedia/CSS-Sprite-Package/css-sprite-combined.png") -100px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-rocketship {
  background: url("https://andreaedsonldesouza93.github.io/HTML---Study/Multimedia/CSS-Sprite-Package/css-sprite-combined.png") -200px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-ufo {
  background: url("https://andreaedsonldesouza93.github.io/HTML---Study/Multimedia/CSS-Sprite-Package/css-sprite-combined.png") -300px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-saturn {
  background: url("https://andreaedsonldesouza93.github.io/HTML---Study/Multimedia/CSS-Sprite-Package/css-sprite-combined.png") -400px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}
